/* CSS files add styling rules to your content */



body {
  text-align: center;
  font-family: "Yanone Kaffeesatz";
  background: hsl(0, 0%, 100%);
  
}

h1 {
  
  font-weight: 700;
  font-size: 40px;
  color: hsl(16, 100%, 65%);
}

#canvas-div {
  
  margin: auto;
  display: inline-block;
  
  
}


p {
  font-weight: 500;
  font-size: 20px;
  color: hsl(16, 100%, 80%);
  margin: -20px;
}


.sliderDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.instructionsDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 22px;
  
  
}

#size {
  
  padding-left: 5vh;
  padding-right: 15vh;
  font-size: 15px;
}

#colors {
 
  font-size: 15px;
}

.buttonContainer {
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  
}

.button {
  cursor: pointer;
  border-radius: 5px;
  width: 5em;
  height: 1em;
  padding: 4px;
  margin: 5px;
  top: 78vh;
  display: inline-block;
  background: hsl(16, 100%, 80%);
}


